@import "styles/variables";

.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: none;
  padding: 0 24px;

  @media screen and (min-width: $breakpointTablet) {
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
}

.page_container__full_height {
  flex: 1;
}
