@import "styles/variables.scss";

.image_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  column-gap: 8px;
}

@media (min-width: $breakpointTablet) {
  .image_wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
