@import "styles/variables";

.image_wrap {
  display: flex;
  height: calc(100vh - 148px);
  aspect-ratio: 16 / 9;

  @media screen and (min-width: $breakpointTablet) {
    flex: 1;
  }

  img {
    object-fit: contain;
  }
}
