html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: "PlayfarDisplay", serif;
  background-color: var(--color-background);
  letter-spacing: 0.07em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity var(--speed-normal);
}

a:hover {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}
