@import "styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: "PlayfarDisplay", serif;
  background-color: var(--color-background);
  letter-spacing: 0.07em;
  height: calc(100%);
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity var(--speed-normal);
}

a:hover {
  @media screen and (min-width: $breakpointTablet) {
    opacity: 0.5;
  }
}

* {
  box-sizing: border-box;
}
