@import "styles/variables";

.modal__click_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__inner_wrap {
  position: relative;
  z-index: map-get($zHeights, "above");
  width: 90%;

  img {
    width: 100%;
  }

  @media (min-width: $breakpointDesktop) {
    width: auto;
    height: 85vh;

    img {
      width: auto;
      height: 100%;
    }
  }
}
